{% extends 'main.html' %}


{% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">

            <div class="layout__body">
                <h2 class="auth__tagline">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}    
                </h2>
            </div>

        </div>
    </div>
</main>
{% endblock %}